.mission-config-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	/*border: 1px solid cornflowerblue;*/
	min-width: 150px;
}

.mission-header-container {
	background-color: var(--btn-primary);  
	width:100%; 
	display: flex; 
	align-items:center;
	justify-content: space-between;
}

.mission-config-list {
	display:flex; 
	flex-direction:column; 
	flex-grow: 1;

	/*border: 1 solid yellow;*/
	width: 100%;
	height: 100%;
	padding-right: 5px;
	box-sizing: border-box;
}

.input-table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 12px;
	height: min-content;
}

.input-table tr {
	line-height: 30px;
	text-align: start;
}

.input-table th {
	background-color: var(--dialog-header-bg);
	font-weight: 200;
	position: sticky;
	top:0;

	white-space: nowrap;

	text-align: start;
	padding-left: 20px;
	box-sizing: border-box;

	height: 40px;
}

.input-table td {
	background-color: var(--dialog-item-bg);
	border: solid;
	border-color: var(--dialog-content-bg);
	border-width: 1px 0;

	text-align: start;
	padding-left: 20px;
	box-sizing: border-box;
}

.mission-config-options {
	display:flex; 
	width:100%; 
	padding:5px; 
	box-sizing: 
	border-box;
}


@media (min-width: 1600px) {
	.mission-config-list {
		font-size: large;
	}

	.mission-card {
		max-width: 245px;;
	}
}

@media (max-width: 1200px) {
	.mission-config-list .dialog {
		font-size: x-small;
	}

	.mission-config-list table {
		font-size: x-small;
	}

	.mission-config-options .primary-btn {
		font-size: x-small;
	}

	.mission-card {
		max-width: 105.25px;
	}
}

.mission-control-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 2;

	/*border: 1px solid pink;*/
	width: 100%;
	height: auto;
}

.mission-crud {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.mission-select-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 0 5px 0;
	box-sizing: border-box;
	flex-grow: 4;
	width: 100%;
	height: 50%;
}

.mission-select-header {
	width:100%; 
	display: flex; 
	align-items:center;
	justify-content: space-between;
	background-color: var(--dialog-header-bg);
}

.mission-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.mission-labels {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mission-select {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;

	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(30%, 1fr));
	grid-auto-rows: (0px, 1fr);
	grid-column-gap: 2%;
	grid-row-gap: 20px;
}

.mission-card {
	aspect-ratio: 1;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	background-color: var(--btn-card);
	color: var(--btn-primary-text);

	font-weight: 200;
	font-style: normal;
	text-decoration: none;

	padding: 14px 15px;
	border: none;
	border-radius: 5px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mission-card span {
	margin-right: 15px;
	display: block;
	width: 29px;
	height: 29px;
}

.mission-card:hover {
	background-color: var(--btn-card-hover);
	border: 1px solid white;
}

.mission-card:active {
	background-color: var(--btn-card-active);
}

